/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Sofadi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Macondo&family=Oswald:wght@200..700&family=Quicksand:wght@300..700&family=Sofadi+One&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Quicksand", sans-serif;
    --secondary-font: "Sofadi One", system-ui;
    --primary-color: #306318; /* Dark-Green */
    --highlight-color-light: #dfa4b6; /* Mid-Pink */
    --secondary-color: #86b570; /* Mid-Green */
    --highlight-color: #b34f3d; /* Dark-Pink */
    
}

/* Global Styles */
body {
    font-family: var(--primary-font);
}

h1 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h2 {
    margin-bottom: 2rem;
}


.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Navbar */
#navbar {
    background-color: var(--highlight-color-light);
}

.logo {
    width: 60px;
    opacity: 0.7;
}

/* Header */


/* Main */
/* Adoption Section */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.3);

}


/* Rehome Section */
#rehome-text {
    margin-top: 100px;

}

.card {
    border: none;
}

.card-body {
    border: 1px solid var(--secondary-color);
    margin-bottom: 10px;
}

/* Test Grid */
/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */